<a href="#" id="nav-button">NAV</a>
<nav class="sidebar">
	<ul class="list-unstyled">
	{% capture sidebar %}

	<select>
		<option value="cci1">CircleCI 1.0 Docs</option>
		<option value="cci2" selected>CircleCI 2.0 Docs</option>
		<option value="ccie">CircleCI Enterprise Docs</option>
	</select>

	<hr />

	{% assign cci2 = site.data.categories | where:"section","cci2" %}
	{% assign mycollection = site.collections | where:"label","cci2" | first %}
	{% for category in cci2 %}
	<!--<li><a href="{{ site.baseurl }}/{{ mycollection.prefix }}/{{ category.slug }}/">{{ category.display }}</a>-->
	<li><a href="#">{{ category.display }}</a>
		<ul class="list-unstyled">
		{% for doc in site.cci2 %}
			{% if doc.categories contains category.slug and doc.slug != category.index and doc.hide != true %}
				{% if doc.short-title %}
					{% assign title = doc.short-title %}
				{% else %}
					{% assign title = doc.title %}
				{% endif %}

				{% if doc.children %}
					{% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
				{% endif %}

				<li class="{% if page.path contains doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ title }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
		</li>
	{% endfor %}
	{% endcapture %}
	{{ sidebar | strip_newlines }}
	</ul>
</nav>
